.btn-group button {
  background-color: white;
  border: 3px solid blue;
  color: white;
  padding: 20px 28px;
  cursor: pointer;
  float: top left;
}

.btn-group button:not(:last-child) {
  border-right: none;
}
